<?xml version="1.0" encoding="UTF-8"?>
<configuration status="trace">
  <appenders>
    <console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5level %logger{36} - %msg%n"/>
    </console>
  </appenders>

  <loggers>
    <root level="ALL">
      <appender-ref ref="console" />
    </root>    
  </loggers>
</configuration>