<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="consoleShort" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd-MMM-yy HH:mm:ss,SSS} - (%l) %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.daniel.spring.web.service" level="info" />
		<Logger name="org.springframework.web" level="info" />
		<Root level="error">
			<AppenderRef ref="consoleShort" />
		</Root>
	</Loggers>
</Configuration>